<div>
  Select Api <select name="api-select"
    (change)="apiChange($event.target.value)">
    <option value="mockData">Mock Data</option>
    <option value="restApi">Rest Api</option>
  </select>
</div>
<br>
<div *ngIf="addMode || editMode else empTable">
</div>
<ng-template #empTable>
  <button (click)="addEmp()">Add New Employee</button>
  <br>
  <br>
  <div>
    Enter The Filter(Name/City):
    <input type="text"
      [(ngModel)]="searchString"
      name="filter"
      style="align-content: left;">
    <br>
    <br>
    <table>
      <tr>
        <th>
          <input type="checkbox"
            name="selectAll"
            [(ngModel)]="allSelected"
            (ngModelChange)="allSelectedClicked($event)"
            id="selectAll">
        </th>
        <th *ngFor="let column of columns">
          {{column}}
        </th>
      </tr>
      <tr *ngFor="let employee of employeeList | nameAndCityFilter:searchString ; let i=index">
        <td><input type="checkbox"
            name="select{{i}}"
            [(ngModel)]="employee.Selected"
            (ngModelChange)="employeeSelectionChange()"
            id="select{{i}}"></td>
        <td>{{employee.Id}}</td>
        <td>{{employee.Name}}</td>
        <td>{{employee.Phone | phoneFilter}}</td>
        <td>{{employee.City}}</td>
        <td>
          <button (click)="editEmp(employee.Id)">Edit</button>
        </td>
        <td>
          <button (click)="deleteEmp(employee.Id)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</ng-template>
<button (click)="getSelecyedEmp()">GetSelectedOnAnotherPage</button>

