<div *ngIf="addMode || editMode else empTable">
</div>
<ng-template #empTable>
  <button (click)="addEmp()">Add New Employee</button>
  <div>
    Enter The Filter(Name/City):
    <input type="text"
      [(ngModel)]="searchString"
      name="filter"
      style="align-content: left;">
    <br>
    <br>
    <table>
      <tr>
        <th *ngFor="let column of columns">
          {{column}}
        </th>
      </tr>
      <tr *ngFor="let employee of employeeList | nameAndCityFilter:searchString">
        <td>{{employee['Id']}}</td>
        <td>{{employee['Name']}}</td>
        <td>{{employee['Phone'] | phoneFilter}}</td>
        <td>{{employee['City']}}</td>
        <td>
          <button (click)="editEmp(employee.Id)">Edit</button>
        </td>
        <td>
          <button (click)="deleteEmp(employee.Id)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</ng-template>
